<html>
<head>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <title>Address Book: Edit Contact</title>
</head>
<body>
    <div class='container'>
        <div class="jumbotron">
            <h1>Address Book</h1>
        </div>
        <h2>Edit any of the contact fields below:</h2>
        <form action='/update_confirm' method='post'>
            <div class='row'>
                <div class='col-md-4'>
                    <div class='form-group'>
                        <input type='text' name='first_name' placeholder='{{ edit_contact.getFirstName }}' class='form-control' id='first_name'>
                    </div>
                    <div class='form-group'>
                        <input type='text' name='mid-init' placeholder='{{ edit_contact.getMidInit }}' class='form-control' id='mid-init'>
                    </div>
                    <div class='form-group'>
                        <input type='text' name='last_name' placeholder='{{ edit_contact.getLastName }}' class='form-control' id='last_name'>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='form-group'>
                        <input type='text' name='street_num' placeholder='{{ edit_contact.getStreet }}' class='form-control' id='street_num'>
                    </div>
                    <div class='form-group'>
                        <input type='text' name='city' placeholder='{{ edit_contact.getCity }}' class='form-control' id='city'>
                    </div>
                    <div class='form-group'>
                        <input type='text' name='state' placeholder='{{ edit_contact.getState }}' class='form-control' id='state'>
                    </div>
                </div>
                <div class='col-md-4'>
                    <div class='form-group'>
                        <input type='text' name='zip' placeholder='{{ edit_contact.getZip }}' class='form-control' id='zip'>
                    </div>
                    <div class='form-group'>
                        <input type='text' name='mobile' placeholder='{{ edit_contact.getMobile }}' class='form-control' id='mobile'>
                    </div>
                    <div class='form-group'>
                        <input type='text' name='email' placeholder='{{ edit_contact.getEmail }}' class='form-control' id='email'>
                    </div>
                </div>
            </div>
            <button type='submit' class='btn btn-success'>Submit Edits</button>
        </form>
        <form action='/single_delete' method='post'>
            <button type="submit" class="btn btn-danger">Delete Contact!</button>
        </form>
    </div>
</body>
</html>
